## These are the standard rules for all EasyPost public repositories.
##

* @EasyPost/dev-tools @EasyPost/easypost-public-maintainers

# The devtools team owns the codeowners file, this is for auditing purposes
.github/CODEOWNERS @easypost/dev-tools
