# Misc
._*
.AppleDouble
.DS_Store
.env
.idea/
.LSOverride
*.phar
.phpdoc
.Spotlight-V100
.Trashes
*.sublime-*
easypost-php
Icon

# Vendor
bin
vendor

# Tests
*.cache

# Coverage
clover.html
clover.xml
