-
    request:
        method: GET
        url: 'https://api.easypost.com/v2/partners/stripe_public_key'
        headers:
            Authorization: ''
            Content-Type: application/json
    response:
        status:
            code: 200
            message: OK
        headers:
            x-ep-request-uuid: 91d0a0fa6ab4301ce2b97bb400af2fd1
            content-type: 'application/json; charset=utf-8'
            x-node: web103azw
            x-version-label: easypost-202609231716-41b3efb4ec-main
            x-backend: easypost
            x-proxied: ['intlb3azw f29267e751', 'extlb2azw 07fb4d8f06']
        body: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
        curl_info:
            url: 'https://api.easypost.com/v2/partners/stripe_public_key'
            content_type: 'application/json; charset=utf-8'
            http_code: 200
            header_size: 695
            request_size: 310
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.091
            namelookup_time: 0.001
            connect_time: 0.026
            pretransfer_time: 0.046
            size_upload: 0.0
            size_download: 49.0
            speed_download: 538.0
            speed_upload: 0.0
            download_content_length: 49.0
            upload_content_length: 0.0
            starttransfer_time: 0.091
            redirect_time: 0.0
            redirect_url: ''
            primary_ip: 169.62.110.130
            certinfo: {  }
            primary_port: 443
            local_ip: 192.168.1.75
            local_port: 52830
            protocol: 2
            ssl_verifyresult: 0
            scheme: https
            appconnect_time_us: 46000
            connect_time_us: 26000
            namelookup_time_us: 1000
            pretransfer_time_us: 46000
            redirect_time_us: 0
            starttransfer_time_us: 91000
            total_time_us: 91000
            effective_method: GET
            capath: ''
            cainfo: ''
    index: 0
